---
import '../styles/global.css';
import ThemeScript from '@/components/theme/ThemeScript.astro';
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charSet="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
		<ThemeScript />
	</head>
	<body>
		<slot />
	</body>
</html>
